---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
}

img {
    margin-left: auto;
    margin-right: auto;
}

img:not(.emoji) {
    display: block;
}

pre:has(.language-mermaid) {
    background-color: transparent;
}

code.language-mermaid {
    display: flex;
    justify-content: center;
}

@media print {
    @page {
        margin-top: 8%;
        margin-bottom: 6%;
    }

    body {
        zoom: 82%;
    }

    div.markdown-body>h1:first-of-type {
        display: none;
    }
}
